body{
    background-color: rgb(31, 2, 59);
}
h1{
    color: rgb(172, 205, 255);
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
h2{
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}